* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Open sans', serif;
  background-color: #94aede;
  display: grid;
  justify-content: center;
}

.container {
  width: 700px;
}

header {
  height: 150px;
  color: #ffff;
  background-color: #4b164c;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  .user-bar {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .user-wrapper {
      display: flex;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      .user-information {
        h2 {
          font-size: 20px;
          font-weight: 400;
        }
        p {
          font-size: 18px;
          font-weight: 200;
        }
      }
    }
  }
}
